* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html{
  scroll-behavior: smooth;
}

.food-category {
  display: flex;
  overflow-x: scroll;
  margin: 1rem 0;
}

.food-category button {
  padding: 0.3rem 2rem;
  margin: 0 1rem;
  margin-bottom: 15px !important;
  outline: none;
  border: 2px solid rgb(255, 146, 164);
  background-color: transparent;
  color: black;
  font-weight: 550;
  border-radius: 0.7rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.food-category button:hover,
.food-category button.active {
  background-color: #f8a399;
  color: var(--white);
}
.customScrollButton{
  width: 170px;
}
.container {
  margin-top: 25px !important;
}
.customCol{
  margin-bottom: 5px;
}
.customCard{
  background-color: bisque !important;
  height: 390px !important;
  overflow-y: scroll;
}
.customImg{
  height: 150px !important;
  width: 150px !important;
}
.customCardBody{
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 45%;
}
.placeHolder{
  background-color: #f8a399;
  border-radius: 10px;
  padding: 1rem;
}
.customButton{
  background-color: rgb(255, 79, 79) !important;
  color: white !important;
  margin-bottom: 2px;
  border-color: white !important;
}
.customButton:active {
  animation: pulse 0.3s ease;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

.customPrice{
  text-align: center;
  margin-bottom: 2px;
  color: green;
}

.customTitle{
  color: brown !important;
  font-family: "Segoe Print", Times, serif;
}
.customText{
  color: black !important;
  opacity: .7;
}
.customPagination{
  text-align: center;
}
@media only screen and (min-width: 900px)  {
  .food-category {
    overflow-x: hidden;
    align-items: center;
    justify-content: center;
  }
  .customCard{
    overflow-y: hidden;
  }
}